@use "./variables" as *;
@use "./functions" as *;

//GLOBAL MEDIA QUERIES
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// GLOBAL
@mixin responsive-wrapper {
  width: $wrapper-width-mobile;

  @include tablet {
    width: $wrapper-width-tablet;
  }

  @include desktop {
    width: $wrapper-width-desktop;
  }
}

@mixin page-content {
  margin-top: 7rem;

  @include tablet {
    margin-top: 7rem;
  }
}

@mixin global-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

// FORMS
@mixin input-style {
  border-radius: 0.6rem;
  border: 1px solid $primary-grey-2;
  color: $primary-black;
}

@mixin standard-button {
  border-radius: 0.6rem;
  border: none;
  background-color: $primary-green;
  color: $primary-white;
  height: 3.4rem;
}

@mixin secondary-button {
  border-radius: 0.6rem;
  border: 2px solid $primary-black;
  color: $primary-black;
  height: 3.4rem;
}

@mixin tertiary-button {
  border-radius: 0.6rem;
  border: none;
  color: $primary-black;
  height: 3.4rem;
}

// TEMPORARY SECTIONS
@mixin temp-mobile {
  @include tablet {
    display: none;
  }
}
