@use "./variables" as *;
@use "./functions" as *;

//GLOBAL MEDIA QUERIES
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// GLOBAL
@mixin responsive-wrapper {
  width: $wrapper-width-mobile;

  @include tablet {
    width: $wrapper-width-tablet;
  }

  @include desktop {
    width: $wrapper-width-desktop;
  }
}

@mixin global-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

// FORMS
@mixin input-style {
  border-radius: 0.6rem;
  border: 1px solid $primary-grey-2;
  color: $primary-black;
}

// TEMPORARY SECTIONS
@mixin temp-mobile {
  @include tablet {
    display: none;
  }
}
