// BRAND TYPEFACE
@use "./mixins" as *;

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("TrueType-variations"),
    url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600")
      format("truetype");
font-weight: 100 900;  
font-display: swap;
font-style: normal;
}

//GLOBAL
@mixin txt-body{
  font-size: 1.4rem;

  @include tablet{
    font-size: 1.6rem;  
  }
}

@mixin txt-label{
  font-size: 1.2rem;
  font-weight: 400;

  @include tablet{
    font-size: 1.4rem;  
  }
}