//SIZING
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-gutter: 1.6rem;
$tablet-gutter: 2.4rem;
$desktop-gutter: 2.4rem;

$mobile-margin: 1.6rem;
$tablet-margin: 3.6rem;

$desktop-column: 6.3rem;

//BRAND COLOURS
$primary-black: #333333;
$primary-blue: #354e66;
$primary-alt-blue: #305f8c;
$primary-grey: #afafaf;
$primary-grey-2: #bdbdbd;
$primary-grey-3: #666666;
$primary-white: #ffffff;
$primary-green: #8fa36a;

$secondary-dark-black: #000000;
$secondary-grey: #828282;
$secondary-dark-blue: #0065ad;
$secondary-alabaster: #fafafa;

$warning-red: #eb5757;
