@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.recipe {
  &__instructions {
    @include tablet {
      width: calc-col-width-tablet(6);
      // padding: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0px 0px 8px;
      gap: 24px;
      overflow: auto;
    }

    @include desktop {
      width: calc-col-width-desktop(7);
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 1.6rem;
    gap: 12px;
    height: 100%;
    width: 100%;

    @include tablet {
      padding: 0;
      overflow: scroll;
      height: 90%;
    }
  }

  &__step {
    padding: 1.2rem;
    border-radius: 0.6rem;
    counter-increment: step-number;
    background-color: #f2f2f2;
    display: flex;
    gap: 1.6rem;
    line-height: 2.4rem;
  }

  &__step::before {
    content: counter(step-number);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: rgba(53, 78, 102, 0.1);
    text-align: center;
  }
}
