@use "./partials/variables" as *;
@use "./partials/functions" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/resets";

#root {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content__wrapper {
  @include responsive-wrapper;
}
