@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/typography" as *;

.search {
  display: flex;
  margin-bottom: 3.2rem;
  width: 100%;
  flex-direction: column;
  background-color: $primary-white;
  padding: 1.6rem;
  border-radius: 6px;
  @include global-shadow;

  @include tablet {
    margin-bottom: 4rem;
    flex-wrap: nowrap;
  }

  @include desktop {
    gap: 1.6rem;
    width: 93.6rem;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  &__bar {
    @include input-style;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 14rem;
    align-items: center;
    padding: 0.8rem 1.2rem 0.8rem 4rem;
    gap: 1.2rem;

    background: #ffffff;
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 1.2rem center;
  }

  &__filters {
    display: none;

    @include desktop {
      display: flex;
      gap: 1.6rem;
    }
  }

  &__filter-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 3.4rem;
    height: 3.4rem;

    background-color: #ffffff;
    border: 1px solid $primary-grey-2;
    border-radius: 0.6rem;

    @include desktop {
      display: none;
    }
  }

  &__submit {
    @include standard-button;
    width: 100%;

    @include tablet {
      width: 18rem;
    }
  }
}
