@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/typography" as *;

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  @include global-shadow;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  z-index: 10;

  &__container {
    @include responsive-wrapper;
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    @include tablet {
      justify-content: space-between;
    }
  }

  &__links {
    display: none;

    @include tablet {
      display: flex;
      gap: 2.4rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: $primary-blue;
  }
  &__link > svg {
    width: 2.4rem;
  }
}
