@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/typography" as *;

.footer {
  @include section-container;
  padding-bottom: 7.2rem;
  background-color: $primary-white;

  @include tablet {
    padding-bottom: unset;
    background-color: unset;
  }

  &__wrapper {
    @include responsive-wrapper;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 3.2rem;
    border-top: 1px solid $primary-grey-2;

    @include tablet {
      flex-direction: unset;
      justify-content: space-between;
      padding: 2rem;
      gap: unset;
    }
  }

  &__main-links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include tablet {
      flex-direction: unset;
      gap: 2.4rem;
    }
  }

  &__link {
    color: $primary-alt-blue;

    &:active,
    &:visited,
    &:focus {
      color: inherit;
    }
  }

  &__att {
    font-size: 1.2rem;
  }

  &__footnote {
    color: $primary-black;
  }
}
