@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/typography" as *;

.cookbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;

  @include tablet {
    padding: 4rem;
    height: 100%;
  }

  &__wrapper {
    @include responsive-wrapper;
    height: 100%;
  }
}
